
#header{width:825px;height:200px;}

#central{float:left;margin-left:5px;}
#central1{width:530px;height:200px;}
#piefoto{width:530px;height:160px;}

#derecha{float:right;}


#contenedor2{width: 825px;border-style:solid;}
#contenedor1{width: 800px;}


#gifanimado{width:530px;height:380px;}


#piepagina{width:825px;}



#izquierda{float:left;}
#izquierda1{height:170px;}
#izquierda2{height:280px;}
#izquierda3{height:290px;}
