/*doy por defecto a todas (*) las etiquetas un margin y un padding de 0px */
* {
margin:0px;
padding:0px;
}

#contenedor{
	width: 960px;
	height: 960px;
	background-color: grey;
	margin: auto;
}

#contenedor3 {
	width: 960px;
	height: 950px;
	background-color: grey;
	margin: auto;
}

#contenedor2 {
	width: 960px;
	height: 1350px;
	background-color: grey;
	margin: auto;
}

#contenedor4 {
	width: 960px;
	height: 1820px;
	background-color: grey;
	margin: auto;
}



	
#estopa{
	width:960px;
	height:200px;
}
#estopa2{
	display: block;
	margin:auto;
	width:400px;
	height: 250px;
}

/* doy tamaño a la cabecera donde va el menu */
#menu {
	width:960px;
	height:60px;
	font-family:Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

p {
	margin: 25px;
	text-align:justify;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
}

#album1 {
	margin: auto;
	float:left;
	padding-right: 50px;
	padding-left: 30px;
	width: 280px;
}

#para1 {
	text-align: justify;
	padding-top: 55px;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
}

#album2 {
	margin: auto;
	float: left;
	padding-right: 50px;
	padding-left: 30px;
	width: 280px;
}

#para2 {
	text-align: justify;
	padding-top: 90px;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
}

#album3 {
	margin: auto;
	float: left;
	padding-right: 50px;
	padding-left: 30px;
	padding-top: 20px;
	width: 280px;
}

#para3 {
	text-align: justify;
	padding-top: 90px;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
}

#div1 {
	border: 5px solid black;
	padding: 250px;
}

#fuego {
	text-align:left;
	padding: 20px;
}


#audio1 {
	padding: 20px;
}

#apagon {
	text-align:left;
	padding: 20px;
}

#audio2 {
	padding:20px;
}

#olvida {
	text-align: left;
	padding: 20px;
}

#audio3 {
	padding:20px;
}



#pie1 {
	text-align: right;
	margin:10px;
}

#pie2 {
	text-align: right;
	margin:10px;
}

#pie3 {
	text-align: right;
	margin:10px;
}



/* quito los puntos de los elementos de la lista <li> */
ul, ol {
   list-style:none;
}

/* pongo el menu principal en forma horizontal */
.nav > li {    /*  esta propiedad se aplica a los <li> que estan inmediatamente a continuación de una etiqueta de class="nav", no al submenu  */
   float:left;    /*si quitara el simbolo '>' tambien se aplicaria el 'float:left' a los <li> del submenu y quedarian tambien en horizontal */
}

/* doy caracteristicas a TODOS los enlaces del menu y submenu */
.nav li a {
   background-color:#000;
   color:#fff;
   text-decoration:none;
   padding:10px 12px;
   display:block;
}

/* cambio el color de fondo cuando paso por el elemento */
.nav li a:hover {
   background-color:#434343;
}

/* doy caracteristicas al submenu, es decir a las listas <ul> que estan dentro de un <li> */
.nav li ul {
   display:none;
   position:absolute;
   min-width:140px;
}

/* doy caracteristicas a las listas <ul> del submenu, es decir dentro de un elemento <li> sobre el que estamos por encima (hover) */
.nav li:hover > ul {
   display:block;   /*esto es para que quede muestre toda la <ul> cuando estamos encima del <li> del submenu */
}
